extends layout

block content
    h1= "Система доступа к данным спектрометров OBLF."
    //p Welcome to #{title}
    img(src="/images/Slider_Entwurf02.jpg")
    p
        a(href="#")="Спекрометр 1"
    p
        a(href="#")="Спекрометр 2"

    p
    #{title}
